version: '3.8'

services:
  web:
    build: ./backend
    command: uvicorn config.asgi:application --host 0.0.0.0 --port 8000 --workers 2
    volumes:
      - static_volume:/app/static
    expose:
      - 8000
    env_file:
      - .env
    environment:
      - ALLOWED_HOSTS=*
      - DEBUG=True
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  frontend:
    build: ./frontend
    expose:
      - 80

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
    ports:
      - "80:80"
    depends_on:
      - web
      - frontend

volumes:
  postgres_data:
  static_volume: