annotated-types==0.7.0
anyio==4.11.0
asgiref==3.9.1
cachetools==6.2.2
certifi==2025.11.12
charset-normalizer==3.4.4
Django==5.2.5
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.1
uvicorn==0.34.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
google-genai==1.52.0
python-dotenv==1.2.1
psycopg2-binary==2.9.9
adrf==0.1.8
